<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Manage Address</h4>
        <div class="pull-right" v-if="!showEdit">
            <button class="btn btn-success btn-sm" @click="newAddress">New Address</button>
        </div>
        <div class="pull-right" v-if="showEdit">
            <button class="btn btn-danger btn-sm" @click="cancel">Cancel</button>
            <button class="btn btn-success btn-sm" @click="saveAddress">Save</button>
        </div>
    </div>
    <div class="panel-body addBg" v-if="!showEdit">
        <div class="ResGrid">
            <div class="dTable">
                <table style="width: 100%; overflow:scroll;">
                    <thead>
                        <th>Building / Plot No.</th>
                        <th>Locality</th>
                        <th>Landmark</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Pincode</th>
                    </thead>
                    <tbody>
                        <tr v-for="address in addressList" style="height: 50px;">

                            <td @click="getAddressDetail(address)" style="cursor: pointer;">
                                <b>{{address.AddressLine1}}</b>                                
                            </td>
                            <td>{{address.AddressLine2}}</td>
                            <td>{{address.Landmark}}</td>
                            <td> {{address.CityName }}</td>
                            <td> {{address.StateName}}</td>
                            <td>
                                {{address.Pincode}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-body addBg" v-if="showEdit && selectedAddress">        
        <div class="form-group">
            <label class="label-header-clr">
                Building Name / Plot No.
            </label>
            <input type="text" v-model="selectedAddress.AddressLine1" class="form-control" placeholder="Building Name" name="AddressLine1"  v-validate="'required'">
            <span v-show="errors.has('AddressLine1')" class="invalid-feedback">
                <i v-show="errors.has('AddressLine1')" class="fa fa-warning"></i> 
                Please enter Building Name
            </span>
        </div>
        <div class="form-group">
            <label>
                Street / Locality
            </label>
            <input type="text" v-model="selectedAddress.AddressLine2" class="form-control" placeholder="Locality" name="AddressLine2">            
        </div>
        <div class="form-group">
            <label>
                Landmark
            </label>
            <input type="text" v-model="selectedAddress.Landmark" class="form-control" placeholder="Landmark" name="Landmark">            
        </div>
        <div class="form-group" v-if="false">
            <select class="form-control" v-model="selectedAddress.Country">
                <option value=null>Select Country</option>
                <option v-for="(country, countryId) in countries" :value="country.CountryId">{{country.CountryName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>
                State
            </label>
            <select class="form-control" v-model="selectedAddress.State">
                <option value=null>Select State</option>
                <option v-for="(state, stateId) in states" :value="state.StateId">{{state.StateName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>
                City
            </label>
            <select class="form-control" v-model="selectedAddress.City">
                <option value=null>Select City</option>
                <option v-for="(city, cityId) in cities" :value="city.CityId">{{city.CityName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>
                Pincode
            </label>
            <input type="text" v-model="selectedAddress.Pincode" class="form-control" placeholder="Pincode" name="Pincode">
        </div>
    </div>
</div>