<div class="randomColorsForBtn">
    <div class="card-deck switchOrg">
        <div class="card zoomIn animated cardWithConfig" @click="navigateToMyProfile">
            <div class="orgLogo">
                <!-- <img v-if="personOrg.orgLogo" :src="'/renderImage/' + personOrg.orgLogo + '/50x50'" /> -->
                <!-- <span class="orgDummyLogo" v-else></span> -->
                <div class="card-block">
                    <h6 class="card-title">Profile</h6>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>

        <div class="card zoomIn animated cardWithConfig" @click="navigateToMyProducts">
            <div class="orgLogo">
                <!-- <img v-if="personOrg.orgLogo" :src="'/renderImage/' + personOrg.orgLogo + '/50x50'" /> -->
                <!-- <span class="orgDummyLogo" v-else></span> -->
                <div class="card-block">
                    <h6 class="card-title">My Products</h6>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>

        <div class="card zoomIn animated cardWithConfig" @click="navigateToMySubscriptions">
            <div class="orgLogo">
                <!-- <img v-if="personOrg.orgLogo" :src="'/renderImage/' + personOrg.orgLogo + '/50x50'" /> -->
                <!-- <span class="orgDummyLogo" v-else></span> -->
                <div class="card-block">
                    <h6 class="card-title">My Subscriptions</h6>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>

        <div class="card zoomIn animated cardWithConfig" @click="navigateToMyWallet">
            <div class="orgLogo">
                <!-- <img v-if="personOrg.orgLogo" :src="'/renderImage/' + personOrg.orgLogo + '/50x50'" /> -->
                <!-- <span class="orgDummyLogo" v-else></span> -->
                <div class="card-block">
                    <h6 class="card-title">My Wallet</h6>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>

        <div class="card zoomIn animated cardWithConfig">
            <div class="orgLogo">
                <!-- <img v-if="personOrg.orgLogo" :src="'/renderImage/' + personOrg.orgLogo + '/50x50'" /> -->
                <!-- <span class="orgDummyLogo" v-else></span> -->
                <div class="card-block">
                    <h6 class="card-title">Settings</h6>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>

        <div class="card zoomIn animated cardWithConfig">
            <div class="orgLogo">
                <!-- <img v-if="personOrg.orgLogo" :src="'/renderImage/' + personOrg.orgLogo + '/50x50'" /> -->
                <!-- <span class="orgDummyLogo" v-else></span> -->
                <div class="card-block">
                    <h6 class="card-title">Help</h6>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>

    </div>
</div>