<div class="col-md-12">

    <div class="row" v-for="(cartItem, index) in cartItems"
        style="border: 1px solid #808080; padding: 5px; width: 90%; margin-left: 15px; margin-top: 15px;">
        <div class="col-md-12">
            <div class="row">                
                <div class="col-md-4" style="width: 50%">
                    {{cartItem.ServiceName}}
                </div>
                <div class="col-md-4" style="width: 50%">
                    ₹ {{itemPrice(cartItem)}}/-
                    <span style="float: right;" @click="deleteCurrentItem(index)">
                        <i class="far fa-trash-alt"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <quantityComponent :disabled="cartItem.VehicleCategoryType != 3" :updateParent="callbackFromQuantity" :callbackResponse="cartItem" :inputValue="cartItem.Quantity"></quantityComponent>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="text-align: center; padding: 10px;">
        <div class="col-md-12">
            <div class="form-group" style="bottom:0" v-if="cartItems.length">
                <div class="cartTotalAmount">
                    Total: ₹ {{cartTotalValue}}/-
                </div>
                <button class="btn btn-success" @click="checkoutUserCartItems">
                    Confirm
                </button>
            </div>
            <div v-else>
                <label>Looks like there are no items in cart, Please continue your shopping</label>
            </div>
        </div>
    </div>

    <div v-if="false">
        <deleteConfirmationPopup :updateParent="callbackFromConfirmation" :isOpen="selectedIndex && selectedIndex > -1"
            headerTitle="'Please confirm before delete'" message="'Are you sure want to delete ?'"></deleteConfirmationPopup>
    </div>
</div>