<div v-if="serviceDetail" class="panel panel-default">
    <div class="panel-heading">
        <h4>Service Details</h4>
        <div class="pull-right">
            <button class="btn btn-danger btn-sm" @click="Cancel">Cancel</button>
            <button class="btn btn-success btn-sm pull-right" @click="saveService">Save</button>
        </div>
    </div>
    <div class="panel-body addBg">

        <div class="row">
            <div class="col-md-12">

                <div class="form-group">
                    <img :src="serviceDetail.ServiceImage" v-if="serviceDetail.ServiceImage"
                        style="height: 100px; width: 200px;" />

                    <label class="custom-file-upload">
                        <div>
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            <input type="file" id="logo" name="logo" accept="image/*" @change="filesChange($event)" />
                        </div>

                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Service Name
                    </label>
                    <input type="text" v-model="serviceDetail.ServiceName" class="form-control" placeholder="Name" name="ServiceName"  v-validate="'required|alpha_num'">
                    <span v-show="errors.has('ServiceName')" class="invalid-feedback">
                        <i v-show="errors.has('ServiceName')" class="fa fa-warning"></i> 
                        Please enter Service Name
                    </span>
                </div>
                <div class="form-group">
                    <label>
                        Vehicle Type
                    </label>
                    <label v-for="type in vehicleTypes">
                        <input type="radio" name="VehicleCategoryType" v-model="serviceDetail.VehicleCategoryType"
                            :value="type.VehicleTypeId" v-validate="'required'">
                        <i class="radioLabel">{{type.VehicleTypeName}}</i>
                    </label>
                </div>
                <div class="form-group">
                    <span v-show="errors.has('VehicleCategoryType')" class="invalid-feedback">
                        <i v-show="errors.has('VehicleCategoryType')" class="fa fa-warning"></i> 
                        Please choose Vehicle Type
                    </span>
                </div>
                <div class="form-group" v-if="serviceDetail.VehicleCategoryType == '2'">
                    <label>
                        Sub Category
                    </label>
                    <label v-for="type in fourWheelerTypes">
                        <input type="checkbox" v-model="serviceDetail.serviceFourWheelerTypes" :value="type.Id"
                        name="serviceFourWheelerTypes" v-validate="{ rules: { required: serviceDetail.VehicleCategoryType == '2' ? true:false} }">
                        <i class="radioLabel">{{type.VehicleType}}</i>
                    </label>
                    <span v-show="errors.has('serviceFourWheelerTypes')" class="invalid-feedback">
                        <i v-show="errors.has('serviceFourWheelerTypes')" class="fa fa-warning"></i> 
                        Please choose Four Wheeler Type
                    </span>
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" v-model="serviceDetail.IsEnabled">Enable Service
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" v-model="serviceDetail.IsPurchaseOnceEnabled" name="IsPurchaseOnceEnabled" @click="togglePrice"
                        v-validate ="{ rules: { required: serviceDetail.IsSubscriptionEnabled?false:true} }">Price for Once
                    </label>
                    <span v-show="errors.has('IsPurchaseOnceEnabled')" class="invalid-feedback">
                        <i v-show="errors.has('IsPurchaseOnceEnabled')" class="fa fa-warning"></i> 
                        Please choose Price for Once Or Subscription
                    </span>
                </div>

                <div class="form-group" v-if="serviceDetail.VehicleCategoryType == '2' && serviceDetail.IsPurchaseOnceEnabled">
                    <label v-for="type in fourWheelerTypes" v-if="serviceDetail.serviceFourWheelerTypes.indexOf(type.Id) > -1">
                        <label>{{type.VehicleType}} Price</label>
                        <input type="number" v-model="type.Price" :name="type.VehicleType" v-validate="'required'">
                        <span :show="errors.has(type.VehicleType)" class="invalid-feedback">
                            <i :show="errors.has(type.VehicleType)" class="fa fa-warning"></i> 
                            Please enter {{type.VehicleType}} Price
                        </span>
                    </label>
                </div>
                <div class="form-group">
                    <input type="number" :disabled="!serviceDetail.IsPurchaseOnceEnabled" v-model="serviceDetail.Price" class="form-control"
                        placeholder="Price" name="Price" v-validate ="{ rules: { required: serviceDetail.IsPurchaseOnceEnabled ? true:false} }">
                        <span v-show="errors.has('Price')" class="invalid-feedback">
                            <i v-show="errors.has('Price')" class="fa fa-warning"></i> 
                            Please enter Price for Once
                        </span>
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" v-model="serviceDetail.IsSubscriptionEnabled" name="IsSubscriptionEnabled" @click="toggleSubscribe"
                        v-validate ="{ rules: { required: serviceDetail.IsPurchaseOnceEnabled?false:true} }">Subscription
                    </label>
                    <span v-show="errors.has('IsSubscriptionEnabled')" class="invalid-feedback">
                        <i v-show="errors.has('IsSubscriptionEnabled')" class="fa fa-warning"></i> 
                        Please choose Price for Once Or Subscription
                    </span>
                </div>
                <div class="form-group" v-if="serviceDetail.IsSubscriptionEnabled">
                    <label>
                        Subscription Types
                    </label>
                    <label v-for="type in subscribeTypes">
                        <input type="checkbox" v-model="serviceDetail.serviceSubscribeTypes" :value="type.SubscribeId" 
                        name="ServiceSubscribeTypes" v-validate="{ rules: { required: serviceDetail.IsSubscriptionEnabled ? true:false} }">
                        <i class="radioLabel">{{type.SubscribeType}}</i>
                    </label>
                    <span v-show="errors.has('ServiceSubscribeTypes')" class="invalid-feedback">
                        <i v-show="errors.has('ServiceSubscribeTypes')" class="fa fa-warning"></i> 
                        One of Subscription Type is required
                    </span>
                </div>
                <div class="form-group" v-if="serviceDetail.IsSubscriptionEnabled && serviceDetail.VehicleCategoryType == '2'">
                    <label v-for="type in fourWheelerTypes" v-if="serviceDetail.serviceFourWheelerTypes.indexOf(type.Id) > -1">
                        <label>{{type.VehicleType}} Price</label>
                        <input type="number" v-model="type.SubscriptionPrice">
                    </label>
                </div>
                <div class="form-group">
                    <input type="number" :disabled="!serviceDetail.IsSubscriptionEnabled" v-model="serviceDetail.SubscriptionPrice" class="form-control"
                        placeholder="Subscription Price" name="SubscriptionPrice" v-validate ="{ rules: { required: serviceDetail.IsSubscriptionEnabled?true:false} }">
                        <span v-show="errors.has('SubscriptionPrice')" class="invalid-feedback">
                            <i v-show="errors.has('SubscriptionPrice')" class="fa fa-warning"></i> 
                            Please enter Subscription Price
                        </span>
                </div>
                <div class="form-group">
                    <label>
                        Description
                    </label>
                    <textarea v-model="serviceDetail.ServiceDescription" class="form-control"
                        placeholder="Service Description"></textarea>
                </div>

            </div>
        </div>
    </div>
</div>