<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Services</h4>
        <div class="pull-right">
            <button class="btn btn-success btn-sm" @click="newService">New Service</button>
        </div>
    </div>
    <div class="panel-body addBg">
        <div class="ResGrid">
            <div class="dTable">
                <table style="width: 100%; overflow:scroll;">
                    <thead>
                        <th>Service</th>
                        <th>Image</th>
                        <th>Subscription</th>
                        <th>Amount(Once)</th>
                        <th>Amount(Subscription)</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <tr v-for="service in serviceList" style="height: 50px;">

                            <td @click="getServiceDetail(service)" style="cursor: pointer;">
                                <b>{{service.ServiceName}}</b>                                
                            </td>
                            <td><img v-if="service.ServiceImage" :src="service.ServiceImage" height="50" width="50"></td>
                            <td>{{service.Subscriptions}}</td>
                            <td> {{service.StartingPrice ? '₹' + service.StartingPrice + '/-' : 'NA'}}</td>
                            <td> {{service.StartingSubscriptionPrice ? '₹' + service.StartingSubscriptionPrice + '/-' : 'NA'}}</td>
                            <td>
                                {{service.IsEnabled ? "Enabled" : "Disabled"}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>