<div class="my-products">
    <div>
        <h4 class="header-subscribe">My Products</h4>
    </div>

    <div>
        <h5 class="header-subscribe">Vehicles</h5>

    </div>
    <div class="outer">
    <div class="product-row">
        <div class="flec-colpro" v-for="product in myVehicles">
            <div class="cell">
                <span v-if="product.VehicleTypeId == 1" class="defaultBikeImage"></span>
                <span v-if="product.VehicleTypeId == 2" class="defaultCarImage"></span>
                <img v-if="product.VehicleImage" :src="product.VehicleImage" height="60" width="60">
            </div>
            <div class="cell">

                <div @click="editProduct(product)">
                    <div>
                        <span> {{product.VehicleName}}</span>
                    </div>
                    <div class="form-group">
                        <span> {{product.VehicleNumber}}</span>
                        <span style="color: #004dff;">{{product.SubscribeType}}</span>
                    </div>
                </div>
            </div>
            <div class="cell card-botm">
                <div>
                    <span @click="openConfirmationPopup(product)">
                        <i class="far fa-trash-alt"></i>
                    </span>
                </div>
                <div>
                    <span @click="openConfirmationPopup(product)">
                        <i class="far fa-trash-alt"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="add-new-outer">
            <button class="add-new" @click="openVehicleAddPopup">
                +
            </button>
        </div>
    </div>
</div>

    <vehicleAddComponent v-if="openedVehicleAddPopup" :vehicleId="selectedVehicle && selectedVehicle.VehicleId"
        :updateParent="getMyProducts" :closeVehicleAddPopup="closeVehicleAddPopup" isPersonal="1"></vehicleAddComponent>

    <div class="modal" data-backdrop="static" role="dialog" id="deleteVehiclePopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Please confirm before delete </h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Are you sure want to delete ?</label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm pull-right" title="No"
                        @click="closeValidationPopup">No</button>
                    <button class="btn btn-primary btn-sm pull-right" title="Yes" @click="deleteVehicle">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>