<div id="mainNavBar">
    <div>
        <div class="loggedinHome">
            <div class="logoSection">
                <a class="mainLogo">

                    <!-- <span v-if="selectedClientObj" class="">{{ClientName}}</span> -->
                    <!-- <span v-if="(selectedClientObj && selectedClientObj.ClientId === 1 && ClientId !== 1)"><button title="Client List" @click="showPropertyPanel"><i style="font-size:24px" class="fa">&#xf107;</i></button></span> -->
                </a>
            </div>


            <div class="headRightWrap">

                <ul class="topNav">
                    <li>
                        <button  @click="toggleCartPanel" class="notoficationButton">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <span class="count" v-if="cartSummary && cartSummary.NoOfProducts"
                                v-text="cartSummary.NoOfProducts"></span>
                        </button>
                    </li>
                    <li>
                        <button title="Support" @click="navigateToHome">
                            <i class="fas fa-home"></i>
                        </button>
                    </li>
                    <li>
                        <button @click="toggleNotification" style="float: right; ">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </button>
                    </li>
                </ul>

            </div>
        </div>

        <div class="siteHomepage"> </div>

        <div class="menuMaskN" @click="toggleNotification"></div>
        <div class="menuMask" @click="toggleCartPanel"></div>

        <div id="notification" class="notofocationBar">
            <div class="">
                <userProfilePanel :panelCallback="panelCallback"></userProfilePanel>
            </div>
        </div>
        <div id="cartPanel" class="reservationSummary">
            <div class="row">
                <userCartPanel :panelCallback="panelCallback"></userCartPanel>
            </div>
        </div>
    </div>
    <!-- password -->
</div>