<div class="">
    <div>
        <h4 v-if="!hideHeader">My Wallet</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="bold">Wallet Balance : </label>
                <label style="margin-left: 50px;">₹
                    {{walletSummary && walletSummary.Amount ? walletSummary.Amount : '0'}} /-</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="bold">Last Recharge : </label>
                <label style="margin-left: 50px;">₹
                    {{walletSummary && walletSummary.TransactionAmount ? walletSummary.TransactionAmount : '0'}}
                    /-</label>
            </div>
        </div>
    </div>
    <div class="ResGrid">
        <div class="dTable">
            <table style="width: 100%; overflow:scroll;">
                <thead class="walletHeader">
                    <th>Transaction Date</th>
                    <th>Amount</th>
                    <th>Transaction Type</th>
                    <th>Status</th>
                </thead>
                <tbody class="myordersTable">

                    <tr v-for="transaction in myWalletTransactions">
                        <td>{{returnDateTime(transaction.TransactionDate)}}</td>
                        <td>₹ {{transaction.Amount}}</td>
                        <td>{{transaction.IsCredited ? "Credit": "Debit"}}</td>
                        <td>{{transaction.TransactionRespCode == "01" ? "Success": "Failure"}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>