<div class="modal custom-model-style" data-backdrop="static" role="dialog" id="newVehicleDetailsPopup">
    <div class="modal-dialog" v-if="newVehicleDetails">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" style="position: absolute; right: 15px; top: 22px;"
                    data-dismiss="modal" @click="cancel">
                    &times;
                </button>
                <h4>Add Vehicle Details</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">

                            <div class="col-md-12 searchResultsAmenitiesDiv">
                                <input type="text" placeholder="Please type here to choose address..."
                                    v-model.trim="searchAddressText" autocomplete="off" v-validate="'required'" name="addressId">                                    
                            </div>
                            <div class="form-control searchResultsAmenities" @click="$event.stopPropagation()"
                                id="propertyDropDown" v-show="showAddressList">
                                <ul>
                                    <li v-for="address in addressList" v-bind:value="address.AddressId"
                                        @click="selectAddress(address)">
                                        {{address.AddressLine1 + " " + address.AddressLine2 + ", " + address.Landmark + " " + address.CityName + ", " + address.StateName}}
                                    </li>
                                </ul>
                            </div>
                            <span v-show="errors.has('addressId')" class="invalid-feedback">
                                <i v-show="errors.has('addressId')" class="fa fa-warning"></i> Please choose address</span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Vehicle Name"
                                v-model="newVehicleDetails.VehicleName">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Vehicle No" name="VehicleNumber"
                                v-model="newVehicleDetails.VehicleNumber" v-validate="'required|alpha_num'">
                                <span v-show="errors.has('VehicleNumber')" class="invalid-feedback">
                                    <i v-show="errors.has('VehicleNumber')" class="fa fa-warning"></i> 
                                    Vehicle Number is required and it should not contain spaces or special characters
                                </span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Vehicle Make"
                                v-model="newVehicleDetails.VehicleMake">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Vehicle Model"
                                v-model="newVehicleDetails.VehicleModel">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Parking Lot"
                                v-model="newVehicleDetails.ParkingLot" name="ParkingLot" v-validate="'required'">
                                <span v-show="errors.has('ParkingLot')" class="invalid-feedback">
                                    <i v-show="errors.has('ParkingLot')" class="fa fa-warning"></i> 
                                    Parking Lot is required
                                </span>
                        </div>
                        <div class="form-group img-upload-cls">
                            <label class="custom-file-upload">
                                <img  :src="newVehicleDetails.VehicleImage" v-if="newVehicleDetails.VehicleImage"
                                 />
                                <div>
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                    <input type="file" id="logo" name="logo" accept="image/*"
                                        @change="filesChange($event)" />
                                </div>

                            </label>
                          
                        </div> 

                    
                        <div class="form-group" v-if="!serviceDetail">
                            <label v-for="vehicleType in vehicleTypes" v-if="vehicleType.VehicleTypeId != 3">
                                <input type="radio" name="vehicleType" @click="changeVehicleType(vehicleType, $event)"
                                    v-model="newVehicleDetails.VehicleTypeId" :value="vehicleType.VehicleTypeId">
                                <i class="radioLabel">{{vehicleType.VehicleTypeName}}</i>
                            </label>

                        </div>
                        <div class="form-group" v-if="newVehicleDetails.VehicleTypeId == 2">
                            <label v-for="type in fourWheelerTypes">
                                <input type="radio" name="fourWheelerType" v-model="newVehicleDetails.FourWheelerTypeId"
                                    :value="type.Id">
                                <i class="radioLabel">{{type.VehicleType}}</i>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm pull-right" title="Cancel" @click="cancel">Cancel</button>
                <button class="btn btn-primary btn-sm pull-right" title="Save User" @click="addNewVehicle">Save</button>
            </div>
        </div>
    </div>


    <div class="modal" data-backdrop="static" role="dialog" id="vehicleValidationPopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Please correct validations</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul v-for="(message, fieldName) in validations">
                                <li>                                    
                                    <span><b>{{fieldName}}</b></span>:<span>{{message}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm pull-right" title="No"
                        @click="closeValidationPopup">OK</button>
                </div>
            </div>
        </div>
    </div>

    <deleteConfirmationPopup class="custom-small-popup"  :updateParent="callbackFromConfirmation" :isOpen="vechileTypeChangePopup" v-if="vechileTypeChangePopup"
        headerTitle="'Please confirm before change vehicle type'" message="'Changing vehicle type will delete all existing subscriptions for this vehicle. Are you sure want to change it ?'"></deleteConfirmationPopup>
</div>