<div class="modal" data-backdrop="static" role="dialog" id="deleteConfirmationPopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>{{headerTitle}} </h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>{{message}}</label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm pull-right" title="No"
                    @click="confirm">No</button>
                <button class="btn btn-primary btn-sm pull-right" title="Yes" @click="confirm(1)">Yes</button>
            </div>
        </div>
    </div>
</div>