<div>
    <div class="adsBanner">
            AdsBanner...
    </div>
    <div>Search box...</div>
    <div class="services">
        <div class="row serviceCards">
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-4" v-for="service in servieList">
                <div class="sercard">
                    <img :src="service.ServiceImage" class="serviceCardImg" @click="showMoreInfo(service)">
                    <div class="serviceName">
                        <h5 class="mt-3">{{service.ServiceName}} - ₹ {{service.Price}}</h5>
                    </div>
                    <div class="form-group purchaseButton" style="padding: 5px;" @click="chooseOption(service, '1')">
                        <span class="">Subscribe @ ₹ {{service.SubscriptionPrice}}</span>
                    </div>
                    <div class="form-group purchaseButton" style="padding: 5px;" @click="chooseOption(service, '2')">
                        <span class="">Purchase Once</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-backdrop="static" role="dialog" id="primaryEmailPopup" v-if="serviceObj">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" style="position: absolute; right: 15px; top: 22px;"
                        data-dismiss="modal">
                        &times;
                    </button>
                    <h4>{{serviceObj.ServiceName}}</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div>
                                    {{serviceObj.ServiceDescription}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    
                </div>
            </div>
        </div>
    </div>
</div>