<div class="panel panel-default">

    <div class="panel-heading">
        <h4 class="pull-left">To be Assigned Services</h4>
        <div class="btn-group btnGroupScrollWrap tagBtnGrp">
        </div>
        <div class="btn-group pull-right">

        </div>
    </div>

    <div class="panel-body">

        <ul class="nav nav-tabs">
            <li v-for="tab in detailTabs" v-on:click="" :class="{ active: selectedTab === tab.id }">
                <a v-text="tab.text" v-on:click="selectTab(tab.id, $event)"></a>
            </li>
        </ul>
        <div class="col-md-12">
            <div class="tab-content">
                <div class="tab-pane" v-if="selectedTab === 1" :class="{ active: selectedTab === 1 }">
                    <div class="panel panel-default">
                        <div class="panel-body addBg">
                            <div class="ResGrid">
                                <div class="dTable">
                                    <table style="width: 100%; overflow:scroll;">
                                        <thead>
                                            <th>Actions</th>
                                            <th>Building</th>
                                            <th>Service</th>
                                            <th>Requested On</th>
                                            <th>Service Date</th>
                                            <th>Subscription</th>
                                            <th>Quantity</th>
                                            <th>Amount</th>
                                            <th>Vehicle Number</th>
                                        </thead>
                                        <tbody>
                                            <tr v-for="service in services" style="height: 50px;">
                                                <td>
                                                    <assignPersonComponent :service="service"
                                                        :updateServicePerson="updateServicePerson">
                                                    </assignPersonComponent>
                                                </td>
                                                <td>{{service.OtherAddressId ? (service.OtherAddressLine1 + ", " + service.OtherAddressLine2) :  (service.AddressLine1 + ', ' + service.ParkingLot)}}</td>
                                                <td>{{service.ServiceName}}</td>
                                                <td>{{returnDateTime(service.RequestedOn)}}</td>
                                                <td>{{returnDateTime(service.ServiceDate)}}</td>
                                                <td>{{service.SubscribeType ? service.SubscribeType : 'Once'}}</td>
                                                <td v-if="false">₹
                                                    {{service.ServiceType == 1 ? service.SubscriptionPrice : service.Price}}/-
                                                </td>
                                                <td>
                                                    {{service.Quantity}}
                                                </td>
                                                <td>₹
                                                    {{getServiceAmount(service)}}
                                                </td>
                                                <td>{{service.VehicleNumber}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" v-if="selectedTab === 2" :class="{ active: selectedTab === 2 }">
                    <div class="panel panel-default">
                        <div class="panel-body addBg">
                            <div class="ResGrid">
                                <div class="dTable">
                                    <table style="width: 100%; overflow:scroll;">
                                        <thead>
                                            <th>Building</th>
                                            <th>Service</th>
                                            <th>Requested On</th>
                                            <th>Service Date</th>
                                            <th>Subscription</th>
                                            <th>Amount</th>
                                            <th>Vehicle Number</th>
                                            <th>Service Person</th>
                                        </thead>
                                        <tbody>
                                            <tr v-for="service in services" style="height: 50px;">                                                
                                                <td>{{service.AddressLine1 + ', ' + service.ParkingLot}}</td>
                                                <td>{{service.ServiceName}}</td>
                                                <td>{{returnDateTime(service.RequestedOn)}}</td>
                                                <td>{{returnDateTime(service.ServiceDate)}}</td>
                                                <td>{{service.SubscribeType ? service.SubscribeType : 'Once'}}</td>                                                
                                                <td>₹
                                                    {{service.VehicleTypeId == 2 ? (service.ServiceType == 2 ? service.FourWheelerOncePrice : service.FourWheelerSubPrice) : (service.ServiceType == 2 ? service.Price : service.SubscriptionPrice )}}
                                                </td>
                                                <td>{{service.VehicleNumber}}</td>
                                                <td>{{service.UserFirstName}} {{service.UserLastName}} <br> {{service.MobileNumber}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>