<div class="userProfile" v-if="userProfile">

    <div class="col-md-10" style="padding: 35px; margin-top: -25px;">
        <div class="row" style="width: 200px">
            <img class="profilePicture" v-if="userProfile.ProfileImage" :src="userProfile.ProfileImage" alt="">
            <span class="iconUser" v-if="!userProfile.ProfileImage"><i class="far fa-user"></i></span>
        </div>
        <div class="row">
            <div class="cold-md-12" style="text-align: center;">
                <label class="name">{{userProfile.UserFirstName}}</label>
                <label class="name">{{userProfile.UserLastName}}</label>
            </div>
        </div>
        <div class="row">
            <div class="cold-md-12" style="text-align: center;">
                <label class="" style="font-size: 25px">Rs.
                    {{userProfile.Balance ? userProfile.Balance : 'XXX.XX/-'}}</label>
            </div>
        </div>
        <div class="row">
            <div class="cold-md-12" style="text-align: center;">
                <button class="btn btn-default">Recharge</button>
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div class="">
            <ul class="profileUl">
                <li @click="redirectToHome">
                    Home
                </li>
                <li @click="redirectToMyAccount">
                    My Account
                </li>
                <li @click="redirectToMyProducts">
                    My Products
                </li>
                <li>
                    Shop By Category
                </li>
                <li>
                    Refer & Earn
                </li>
                <li>
                    Support
                </li>
            </ul>
        </div>
    </div>
</div>