<div class="panel panel-default">
  <div class="panel-heading">
    <div class=" btn-group pull-right">
      <button class="btn btn-primary btn-sm" @click="switchView"
        :disabled="fncIsUserList && (fncIsUserList.isAssigned === -1 && fncIsUserList.functionState === 2)"
        v-if="fncIsUserList && (fncIsUserList.isAssigned === 1 || (fncIsUserList.isAssigned === -1 && fncIsUserList.functionState === 2))">
        <i v-if="listType == 'list'" class="fa fa-th-large"></i>
        <i v-if="listType != 'list'" class="fa fa-table"></i>
      </button>

      <button class="btn btn-primary btn-sm" title="Add New User" style="float: right" @click="createNewInstance">
        <i class="fa fa-plus "></i> New User
      </button>
    </div>



    <div class="btn-group pull-right">
    </div>

    <div class="btn-group pull-right">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle  btn-sm btn-sm-icon"
          :disabled="fncIsUserList && (fncIsUserList.isAssigned === -1 && fncIsUserList.functionState === 2)"
          v-if="fncIsUserList && (fncIsUserList.isAssigned === 1 || (fncIsUserList.isAssigned === -1 && fncIsUserList.functionState === 2))"
          type="button" data-toggle="dropdown">
          <i class="fa fa-columns"></i>
        </button>
        <ul class="dropdown-menu">
          <li class="heading">Column Chooser</li>
          <li v-for="column in headerColumnList">
            <label class="checkLabel">
              <input type="checkbox" :id="column.Label" v-model="column.IsChecked" />
              <span v-text="column.Label"></span>
            </label>
          </li>
        </ul>

        <ul class="dropdown-menu">
          <li v-for="column in headerColumnList">
            <input type="checkbox" v-model="column.IsChecked" />
            <span v-text="column.Label"></span>
          </li>
        </ul>
      </div>


      <button class="btn btn-primary btn-sm" v-if="false">
        <i v-if="tempListType == 'list'" class="fa fa-th-large"></i>
        <i v-if="tempListType != 'list'" class="fa fa-table"></i>
      </button>
    </div>
  </div>
  <div class="panel-body">



    <!-- fixed header -->
    <div class="" v-if="listType == 'list'">
      <div class="dTable">
        <div class="dTHead">
          <div v-for="column in headerColumnList" v-if="column.IsChecked" v-bind:class="column.Label"
            class="resTh dCell">
            <div class="dTableSortWrap">
              <span v-text="column.Label" v-bind:class="column.Label"></span>
              <span class="dropdown mainDD keep-open ">

                <ul class="resListSortMenu dropdown-menu">
                  <li class="heading">Sort By</li>
                  <li @click="ascSort(column.ColumnName, 'asc')">
                    <span v-if="column.Label == 'LOGIN ID'">LoginId</span>
                    <span v-if="column.Label == 'NAME'">Name</span>
                    <span v-if="column.Label == 'EMAIL'">Email</span>
                    <span v-if="column.Label == 'STATUS'">Status</span>

                    <i class="fa sort-up"></i>
                    <span :class="column.class" v-show="column.isSortLoading && column.isAscOrDesc === 'asc'"></span>
                  </li>
                  <li @click="ascSort(column.ColumnName, 'desc')">
                    <span v-if="column.Label == 'LOGIN ID'">LoginId</span>
                    <span v-if="column.Label == 'NAME'">Name</span>
                    <span v-if="column.Label == 'EMAIL'">Email</span>
                    <span v-if="column.Label == 'STATUS'">Status</span>

                    <i class="fa sort-dwn"></i>
                    <span :class="column.class" v-show="column.isSortLoading && column.isAscOrDesc === 'desc'"></span>
                  </li>
                </ul>
              </span>
            </div>
          </div>

        </div>
        <div class="dTBody">
          <div class="dTBodyRow" v-for="inst in userList" @click="renderUserDetail(inst)">
            <div class="dCell LOGINID" v-if="headerColumnList.LOGINID.IsChecked">
              <strong>{{inst.UserFirstName}}</strong>
            </div>
            <div class="dCell NAME" v-if="headerColumnList.NAME.IsChecked">
              <strong> {{inst.UserLastName}}</strong>
            </div>
            <div class="dCell EMAIL" v-if="headerColumnList.EMAIL.IsChecked">
              <strong>{{inst.Email}}</strong>
            </div>
            <div class="dCell EMAIL" v-if="headerColumnList.EMAIL.IsChecked">
              <strong>{{inst.MobileNumber}}</strong>
            </div>
            <div class="dCell" v-if="headerColumnList.STATUS.IsChecked">
              <div class="">
                <span class="" v-bind:class="inst.StatusName">{{inst.StatusName}}</span>
              </div>
            </div>
            <div class="dCell EMAIL" v-if="headerColumnList.EMAIL.IsChecked">
              <strong>{{inst.RoleName}}</strong>
            </div>
            <div class="dCell EMAIL" v-if="headerColumnList.CreatedDate.IsChecked">
              <strong>{{getFormattedDate(inst.CreatedOn)}}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- fixed header -->
    <div class="card-deck entityCards mt-0 pt-0" v-if="listType != 'list'">
      <div class="card zoomIn animated" v-for="inst in userList" v-if="inst" @click="editUser(inst)">
        <div class="card-block usersListCard">

          <img :src="imageURLS(inst.ProfileImage)" class="cardAvatar pull-left mr-2" />
          <h6 class="" v-text="inst.UserFirstName + ' ' + inst.UserLastName"></h6>
          <span class="sm-txt" v-text="inst.DesignationName"></span>
          <span class="sm-txt"> Reporting to {{inst.ReportingManagerName}}</span>
          <span class="sm-txt" v-text="inst.Subject"></span>
          <span class="sm-txt" v-text="inst.LoginId"></span>
          <span class="sm-txt" v-text="inst.CampusName"></span>
          <span class="sm-txt" v-text="inst.CityName"></span>
        </div>
      </div>
    </div>

  </div>
  <div :class="['rightSideBar', 'resList', toggleFilterPanel ? 'expand' : '']" v-if="toggleFilterPanel">
    <div class="sideBarHeading">
      <h6>Filters</h6>

    </div>
    <div class="col-md-12 mt-3 pull-left">
      <div class="form-group">
        <div class="col-md-12 searchResultsAmenitiesDiv">
          <ul class="todo-list">
            <li>
              <span class="tags">

              </span>
            </li>
          </ul>
          <input type="text">
        </div>

        <div class="form-control searchResultsAmenities">

        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12 searchResultsAmenitiesDiv">
          <ul class="todo-list">
            <li>
              <span class="tags">

              </span>
            </li>
          </ul>
          <input type="text">
        </div>

        <div class="form-control searchResultsAmenities">

        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12 searchResultsAmenitiesDiv">
          <ul class="todo-list">
            <li>
              <span class="tags">

              </span>
            </li>
          </ul>
          <input type="text">
        </div>

        <div class="form-control searchResultsAmenities">

        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12 searchResultsAmenitiesDiv">
          <ul class="todo-list">
            <li>
              <span class="tags">

              </span>
            </li>
          </ul>
          <input type="text">
        </div>

        <div class="form-control searchResultsAmenities">

        </div>
      </div>

      <button class="btn btn-primary btn-sm">
        Apply Filter
      </button>
      <button class="btn btn-primary btn-sm" @click="closeFilter()">
        Cancel
      </button>
    </div>
  </div>
</div>