<div class="panel panel-default rateGridBody">
    <div class="panel-heading rateGridHead">
        <div class="btn-group">
            <!-- <label>Property:</label> -->
            <select class="form-control" v-model="filterObj.propertyId">
                <option value="-99">All Properties</option>
                <option v-for="property in propertyList" :value="property.PropertyId">{{property.PropertyName}}</option>
            </select>
            <!-- <label>Unit Type:</label> -->
            <select class="form-control" v-model="filterObj.unitTypeId">
                <option value="-99">All Unit Types</option>
                <option v-for="unitType in unitTypeList" :value="unitType.UnitTypeId">{{unitType.UnitTypeName}}</option>
            </select>
            <!-- <label>Start Date:</label> -->
            <div class="datePickerCstm">
                <datePickerComponent :keyString="'fromDate'" v-model="filterObj.startDate" :maximumDate="filterObj.endDate" :value="filterObj.startDate"
                    :format="'Do MMM YYYY'" :objectPassedToParent="filterObj" :onUpdate="updateFilterStartDate" :pickerType="'date'"></datePickerComponent>
            </div>
            <!-- <label>End Date:</label> -->
            <div class="datePickerCstm">
                <datePickerComponent :keyString="'toDate'" v-model="filterObj.endDate" :minimumDate="filterObj.startDate" :value="filterObj.endDate"
                    :format="'Do MMM YYYY'" :objectPassedToParent="filterObj" :onUpdate="updateFilterEndDate" :pickerType="'date'"></datePickerComponent>
            </div>

            <button class="btn btn-default btn-sm" @click="applyFilter">
                Apply Filter
            </button>
        </div>
        <div class="pull-right">
            <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons"> -->
                <button title="Edit Rates, Restrictions and Closeouts" style="width:auto" class="btn btn-default btn-sm btn-sm-icon clouseOutGrid rateGrid restrictionsGrid" :class="{active: clouseOutGrid}" @click="showClouseOutBtn" :disabled="(fncIsEditInvPanel && (fncIsEditInvPanel.isAssigned === -1 && fncIsEditInvPanel.functionState === 2))"
                v-if="(fncIsEditInvPanel && (fncIsEditInvPanel.isAssigned === 1 || (fncIsEditInvPanel.isAssigned === -1 && fncIsEditInvPanel.functionState === 2))) ">
                        <!-- <svg style="margin: -21px 4px 0 5px;" viewBox="0 0 512 512" ><path d="m437.730469 301h-60.957031l6.15625 60h-253.859376l6.15625-60h-60.945312l-24.242188 181h-50.039062v30h151v-30h-40.386719l9.230469-61h272.3125l9.230469 61h-40.386719v30h151v-30h-50.035156zm0 0" fill="#5b6a98"/><path d="m426.734375 121h-56.464844l-74.992187 150h56.457031zm0 0" fill="#5b6a98"/><path d="m85.277344 271h56.457031l75-150h-56.460937zm0 0" fill="#5b6a98"/><path d="m175.28125 271h86.453125l74.988281-150h-86.441406zm0 0" fill="#5b6a98"/><path d="m385.28125 271h126.71875v-150h-51.71875zm0 0" fill="#5b6a98"/><path d="m126.730469 121h-126.730469v150h51.734375zm0 0" fill="#5b6a98"/><path d="m106 0c-24.851562 0-45 20.148438-45 45v46h90v-46c0-24.851562-20.148438-45-45-45zm0 0" fill="#5b6a98"/><path d="m451 45c0-24.851562-20.148438-45-45-45s-45 20.148438-45 45v46h90zm0 0" fill="#5b6a98"/></svg>
                        <i class="fa restrictionsIconSm" style="font-size: 26px;"></i>
                        <i class="fa ratesOverrideIconSm" style="margin-left: -2px;"></i> -->
                        <i class="fas fa-pencil"></i>
                </button>
                <!-- <button title="Rates Override" class="btn btn-default btn-sm btn-sm-icon rateGrid" :class="{active: rateGrid}" @click="showRateBtn">
                    <i class="fa ratesOverrideIconSm"></i>
                </button>
                <button title="Restrictions" class="btn btn-default btn-sm btn-sm-icon restrictionsGrid" :class="{active: restrictionsGrid}" @click="showrestrictionsBtn">
                    <i class="fa restrictionsIconSm"></i>
                </button> -->
            <!-- </div> -->
        </div>
        <div class="" style="display: none;">
            <div class="radioToggle">
                <label>
                    <input type="radio" name="RateResToggle" :disabled="showResGrid == '#'" v-model="showResGrid" value="#" @click="toggleResRateGrid"
                    />
                    <span>#</span>
                </label>
                <label>
                    <input type="radio" name="RateResToggle" :disabled="showResGrid == '$'" v-model="showResGrid" value="$" @click="toggleResRateGrid"
                    />
                    <span>$</span>
                </label>
            </div>
        </div>
    </div>
    <pageLoadingComponent v-show="isLoading"></pageLoadingComponent>
    <div class="tapeChat" ref="reactGridElem"  v-show="!isLoading"></div>
    <pageLoadingComponent v-show="isPartialLoading"></pageLoadingComponent>
    <div class="row" v-if="false">
        <div class="col-md-12">
            <div class="form-group">
                <label class="form-label">Property</label>
            </div>
            <div class="form-group" v-if="false">
                <div class="col-md-12 searchResultsAmenitiesDiv" @click="showFilterByType('property')">
                    <ul class="todo-list">
                        <li v-for="property in filterObj.Properties">
                            <span class="tags">
                                <span>{{property.PropertyName}}</span>
                                <i class="far fa-times" @click="removePropertyFromFilter(property)"></i>
                            </span>
                        </li>
                    </ul>
                    <input type="text" placeholder="Click here to new property..." v-model="filterSearchPropertyText">
                </div>

                <div class="form-control searchResultsAmenities" id="propertyDropDown" v-show="selectedFilterColumn == 'property'">
                    <ul>
                        <li v-for="property in propertyList" v-bind:value="property" @click="addPropertyToFilter(property)">{{property.PropertyName}}</li>
                    </ul>
                </div>
            </div>
            <div class="form-group" v-if="false">
                <button class="btn btn-primary btn-sm" @click="applyFilter()">
                    Apply Filter

                </button>
            </div>
        </div>
    </div>
    <reservationSummaryPanel :reservationObj="currResObj" :parentCallback="panelCallback"></reservationSummaryPanel>

    <!-- <restrictionsSummaryPanel v-show="restrictionsGrid" :showRestrictionSummeryPannel="restrictionsGrid" :hideSummaryPanel="hidesummaryPanel" :parentCallback="panelCallback"></restrictionsSummaryPanel>

    <ratesSummaryPanel v-show="rateGrid" :ratesSummeryPanel="rateGrid" :parentCallback="panelCallback" :hideSummaryPanel="hidesummaryPanel"></ratesSummaryPanel> -->


    <!-- <closeOutsSummaryPanel v-show="clouseOutGrid" :closeOutsSummaryPanel="clouseOutGrid" :parentCallback="panelCallback" :hideSummaryPanel="hidesummaryPanel"></closeOutsSummaryPanel> -->
    <closeOutsSummaryPanel :closeOutsSummaryPanel="clouseOutGrid" :parentCallback="panelCallback" :hideSummaryPanel="hidesummaryPanel"></closeOutsSummaryPanel>

    <template v-show="isModalVisible">
        <transition name="modal-fade">
            <div class="modal-backdrop tcgridModal" v-show="isModalVisible">
                <div class="modal" role="dialog" aria-labelledby="modalTitle" aria-describedby="modalDescription">

                    <button type="button" class="btn-close" @click="close" aria-label="Close modal">
                        <i class="fal fa-times"></i>
                    </button>
                    <section class="modal-body" id="modalDescription">
                        <slot name="body">
                            <div ref="unAssigneResList" class="tapeChat">
                            </div>
                        </slot>
                    </section>
                    <footer class="modal-footer" style="display: none;">
                        <slot name="footer">
                            <button type="button" class="btn btn-default btn-warning" @click="noCallback" aria-label="Close modal">
                                No
                            </button>
                            <button type="button" class="btn btn-default btn-success" @click="yesButtonCallback" aria-label="Close modal">
                                Yes
                            </button>
                        </slot>
                    </footer>
                </div>
            </div>
        </transition>
    </template>
</div>