<div class="panel panel-default profilr-con">
    <div class="">

        <div class="" v-if="userProfile">
            <div class="panel-heading header-subscribe">

                <h4 class="pull-left">My Profile</h4>
                <div class="btn-group pull-right">
                    <button class="btn btn-primary btn-sm" title="Save User Profile" @click="changeToEditMode"
                        v-if="!editMode">
                        Edit
                    </button>
                    <button class="btn btn-primary btn-sm" title="Save User Profile" @click="changeToEditMode"
                        v-if="editMode">
                        Cancel
                    </button>
                    <button class="btn btn-primary btn-sm" title="Save User Profile" @click="saveUserProfile"
                        v-if="editMode">
                        Save
                    </button>
                </div>

            </div>
            <div class="panel-body addBg">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row header-row">
                            <!-- <div class="">
                            <label class="labels">Profile Picture:</label>
                            </div> -->
                            <div v-if="userProfile && (userProfile.ProfileImage == undefined || userProfile.ProfileImage == '' || userProfile.ProfileImage == null)"
                                class="proMask"></div>
                            <div class="profileHeader">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <vue-avatar class="edit-img" v-show="editMode" :width=130 :height=130 ref="vueavatar"
                                        @vue-avatar-editor:image-ready="onImageReady" image=''>
                                    </vue-avatar>
                                   
                                    <img v-show="!editMode" :src="userProfile.ProfileImage" width="130" height="130" style="border-radius: 50%;">
                                
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" v-show="false">
                                    <div class="form-label userProfileName">
                                        <label>{{userProfile.UserFirstName}} {{userProfile.UserLastName}}</label>
                                    </div>
                                    <div class="profileHeaderImgResize">Resize Image</div>
                                    <vue-avatar-scale ref="vueavatarscale"
                                        @vue-avatar-editor-scale:change-scale="onChangeScale" :width=150 :min=1 :max=3
                                        :step=0.02>
                                    </vue-avatar-scale>
                                </div>

                            </div>
                        </div>
                        <div class="row profile-name">
                            <div class="form-group">
                                <label class="bold" v-if="!editMode">Name: </label>
                                <label class="bold" v-if="!editMode">{{userProfile.UserFirstName}}
                                    {{userProfile.UserLastName}}</label v-if="!editMode">
                                    <div class="edit-profile" v-if="editMode">
                                        <label class="bold"  v-if="editMode">FirstName: </label>
                                        
                                        <input type="text" v-model="userProfile.UserFirstName">
                                        <label class="bold"  v-if="editMode">LastName: </label>
                                    <input type="text" v-model="userProfile.UserLastName">
                                </div>
                            </div>
                        </div>
                        <div class="row row-padding">
                            <div class="form-group profileDesig hearaa">
                                <label class="labels sub-headre">Email: </label>
                                <label v-if="!editMode">
                                    {{userProfile.Email ? userProfile.Email : "NA"}}
                                </label>
                                <input class="edit-input" v-if="editMode" type="text" name="userEmail" v-model="userProfile.Email" v-validate="'required|email'" />
                                <span v-show="errors.has('userEmail')" class="invalid-feedback">
                                    <i v-show="errors.has('userEmail')" class="fa fa-warning"></i> 
                                    Please enter valid Email
                                </span>
                            </div>
                        </div>
                        <div class="row row-padding">
                            <div class="form-group profileDesig">
                                <label class="labels sub-headre">Mobile Number: </label>
                                <label v-if="!editMode">
                                    {{userProfile.MobileNumber ? userProfile.MobileNumber : "NA"}}
                                </label>
                                <input class="edit-input" v-if="editMode" type="number" name="userMobile" v-model="userProfile.MobileNumber" v-validate="'required|digits:10'" />
                                <span v-show="errors.has('userMobile')" class="invalid-feedback">
                                    <i v-show="errors.has('userMobile')" class="fa fa-warning"></i> 
                                    Please enter valid Mobile Number
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <h6 style="float: left;">
                                        Address
                                    </h6>
                                    <button class="btn btn-primary btn-sm" title="Save User Profile"
                                        @click="addAddress" style="float: right;">
                                        +Add
                                    </button>
                                </div>

                                <div v-if="userAddressList.length" v-for="userAddress in userAddressList" style="margin-top: 25px;">
                                    <viewAddressComponent :addressId="userAddress.AddressId" :isDefault="userAddress.IsDefault" :updateParent="addressCallback"></viewAddressComponent>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <addressPopupComponent v-if="isOpen" :isOpen="isOpen" :selectedAddress="selectedAddress" :updateParent="addressCallback"
    :closeAddressPopup="closeAddressPopup"></addressPopupComponent>

    <toastrMessageComponent v-if="isDialogOpen" :message="popupMessage" :headerTitle="headerTitle" :isOpen="isDialogOpen" :closeToastrPopup="closeToastrPopup">
        
    </toastrMessageComponent>
</div>