<div class="panel-body fullStretch">
	<div class="row flexStart">
		<div class="col-md-7 infoContainer">
			<section v-on:click="displaySection('clientInfo')" :class="{bgColor:isBgColor1}">
				<div class="row">
					<!-- <div class="infoContainerHeading">
						<span class="editPencil">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</span>
					</div> -->

					<div class="col-md-6">

						<div class="form-group">
							<div class="">

								<div class="form-group">
									<span>
										<h6 class="guestName">{{saveclientdetails.basicData.ClientName}}</h6>
									</span>

									<span
										v-if="saveclientdetails.basicData.CityName !== undefined && saveclientdetails.basicData.CityName!==null"
										class="countryNames">{{saveclientdetails.basicData.CityName}} ,
										{{saveclientdetails.basicData.CountryName}}
										<!-- <span v-if="saveclientdetails.basicData.CityName !== undefined && saveclientdetails.basicData.CityName !== null" class="countryNames">{{saveclientdetails.basicData.CityName}} 
													<span v-if="saveclientdetails.basicData.CityName && saveclientdetails.basicData.StateName">,</span> {{saveclientdetails.basicData.StateName}} -->

										<i class="fa fa-map-marker" @click="showLocationMap()" aria-hidden="true"></i>
									</span>
								</div>
								<div class="col-md-12 noPadding">
									<div class="row">
										<div class="col-md-3">
											<div class="form-group" v-for="property in propertyCount">
												<span class="bigFont">{{property.Property_Count}}</span>
												<span>Properties</span>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group" v-for="unit in unitCount">
												<span class="bigFont">{{unit.Unit_Count}}</span>
												<span>Units</span>
											</div>
										</div>
									</div>
								</div>


								<!-- </div> -->
							</div>
						</div>
					</div>
					<div class="col-md-6 resInfoSectionActions">
						<!-- <span class="topBtns">
							<button class="btn btn-blank">
								<i class="fa fa-phone"></i>
							</button>
							<button class="btn btn-blank ">
								<i class="fa fa-comments"></i>
							</button>
							<button class="btn btn-blank ">
								<i class="fa fa-envelope"></i>
							</button>
						</span> -->
						<!-- <select v-model="saveclientdetails.basicData.StatusId" class="form-control" v-validate="'required'" :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
						 v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2))" v-bind:class="saveclientdetails.basicData.StatusId.StatusName" >
							<option v-for="status in statusList" v-bind:value="status">{{status.StatusName}}</option>
						</select> -->
						<select v-model="Client_Status" class="form-control resDetailStatus" v-validate="'required'"
							:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
							v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2))"
							v-bind:class="Client_Status.StatusName">
							<option v-for="status in statusList" v-bind:value="status">{{status.StatusName}}</option>
						</select>

					</div>
				</div>
				<div class="row marginTop">
					<div class="col-md-12"
						v-if="saveclientdetails.basicData && saveclientdetails.basicData.ClientId && saveclientdetails.basicData.ClientId != -1">
						<tagComponent :isDisabled="Tagdisable" :entityId="saveclientdetails.basicData.ClientId" :entityTypeId="1">
						</tagComponent>
					</div>
				</div>
			</section>
			<section v-on:click="displaySection('contentDetails')" :class="{bgColor:isBgColor2}">


				<div class="infoContainerHeading">

					<!-- <span class="editPencil">
						<i class="fa fa-pencil" aria-hidden="true"></i>
					</span> -->
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="pull-left" style="white-space: nowrap">
								<!-- <div class="col-md-6"> -->
								<div class="mt-3 clientUploadLogo">
									<img v-if="logo && (logo != null || logo != '')" :src="imageURLS(logo)" width="" height="" />
									<img v-else class="dummyImage" width="" height="">
									<span
										style="text-align: center; font-size: 17px; color: #7d7878; display: block; margin-top: 5px;">{{saveclientdetails.clientContent.WebSiteURL}}</span>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div v-if="imageArr && imageArr.length" class="containerUploadImg pull-right">
								<!-- <img v-if="imageArr[0].ImageId == -1" :src="imageArr[0].ImageUrl" width="" height=""> -->
								<img :src="imageURLS(imageArr[0].ImageUrl)" width="" height="">
								<span class="UploadImgCounter" v-if="imageArr.length !== 1">
									<span v-if="imageArr.length > 1">+</span> {{imageArr.length - 1}}</span>
							</div>
							<div v-else>
								<img width="" height="" class="containerUploadImg pull-right dummyImageBig">
							</div>
						</div>
					</div>



					<div class="col-md-12">
						<div class="form-group">
							<!-- <span class="infoData">{{saveclientdetails.clientContent.WebSiteURL}}</span> -->
							<span class="infoData"
								style="font-size: 20px; color: #484848;">{{displayDropdowns.basicCurrencyName}}</span>
							<span class="infoData" style="font-size: 20px; color: #484848;">{{displayDropdowns.TimeZone}}</span>
						</div>
					</div>
				</div>
				<div class="col-md-12">

					<div class="row">
						<div class="">
							<label
								v-if="saveclientdetails.clientContent.Content !== '' &&  saveclientdetails.clientContent.Content !== null"
								class="infoLabel">Description</label>
							<div class="form-group">
								<div class="infoData">{{saveclientdetails.clientContent.showContent}}</div>
								<div class="row morebtn">
									<div class="form-group">
										<label v-show="showDes">{{saveclientdetails.clientContent.showDescription}}</label>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>


			</section>

			<!-- <section v-on:click="displaySection('Weekened')" :class="{bgColor:isBgColor4}"> -->
			<section>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<div>
								<h6 class="pull-left">Weekend Nights</h6>
								<div class="infoContainerHeading">


									<!-- <button class="btn btn-success btn-sm pull-right" :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
															v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">Save</button> -->
								</div>
								<table class="table table-bordered userTable nohovertable">
									<tbody>

										<tr>
											<th v-for="week in clientWeekdays">
												<label class="checkLabel">
													<input type="checkbox" v-model="week.IsChecked"
														@change="SaveClientDaysSelection(week.DayId , week.IsChecked)" true-value="1"
														false-value="0"
														:disabled=" fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
														v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2))" />
													<span>{{week.DayName}}</span>
												</label>
											</th>
										</tr>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

			</section>
			<section v-on:click="displaySection('Policy')" :class="{bgColor:isBgColor3}">

				<!-- <div class="infoContainerHeading">


					<span class="editPencil">
						<i class="fa fa-pencil" aria-hidden="true"></i>
					</span>


				</div> -->

				<div class="">
					<button class="btn btn-default dropdown-toggle  btn-sm btn-sm-icon pull-right" @click="addToLoop(1)"
						:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
						v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
						<i class="fa fa-plus"></i>
					</button>

					<div class="">
						<div class="">
							<h6>Policies</h6>
							<div class="form-group" v-for="(policy,index) in policyList" v-show="showPolicy">
								<label class="infoLabel">{{policy.ContentTitle}}</label>
								<div class="form-group">
									<div class="infoData">
										<span>{{policy.showlesscontent}}</span>
									</div>
									<div class="row morebtn">
										<div class="form-group">
											<label>{{policy.showcontent}}</label>
										</div>
									</div>
								</div>
								<!-- <span class="infoData" v-show="policy.showMore">{{policy.Content}}</span> -->
							</div>
							<div class="form-group" v-for="(policy,index) in policyList" v-show="showPolicies">
								<label class="infoLabel">{{policy.ContentTitle}}</label>
								<div class="infoData">
									<span>{{policy.Content}}</span>
								</div>
								<!-- <span class="infoData" v-show="policy.showMore">{{policy.Content}}</span> -->
							</div>
						</div>

					</div>
				</div>
			</section>
			<section v-on:click="displaySection('paymentSetup')" :class="{bgColor:isBgColor6}">
				<h6>Payment Setup</h6>
				<div class="stripeAcount mt-4" v-if="paymentAccount.IsDefault"
					v-for="(paymentAccount,index) in paymentAccountList">
					<div class="icon"><span></span></div>
					<span class="title" v-if="paymentAccount.PaymentAccountName">{{paymentAccount.PaymentAccountName}} <span
							class="defaultStripe" v-if="paymentAccount.IsDefault">Default</span></span>
					<span class="title" v-else>AccountName <span class="defaultStripe"
							v-if="paymentAccount.IsDefault">Default</span></span>
					<span class="accInfo">Account ID : <span>{{paymentAccount.PaymentAccountId}}</span></span>
					<!-- <div class="dropdown mainDD keep-open">
								<button title="Views" type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle  btn-sm btn-sm-icon" aria-expanded="false"><i class="fas fa-caret-down"></i></button>
								<ul  class="dropdown-menu" :id="'accountEdit'+index" @click="$event.stopPropagation()">
										<li class="heading">Options</li>
										<li @click="makePaymentAccountDefault(paymentAccount)"><label>Make default</label></li>
										<li @click="removePaymentAccount(paymentAccount)"><label>Remove</label></li>
									</ul>
						</div> -->
					<!-- <span @click="showAccountEdit(index)"><i class="fa fa-edit"></i></span> -->

				</div>
				<!-- <div class="row" v-for="(paymentAccount,index) in paymentAccountList">
					<div class="col-md-9" v-if="paymentAccount.IsDefault">
						<div>
							<h6 v-if="paymentAccount.PaymentAccountName">{{paymentAccount.PaymentAccountName}}</h6>
							<h6 v-else>AccountName</h6>
							<label>Default</label>
						</div>
						<span>{{paymentAccount.PaymentAccountId}}</span>
					</div>
				</div> -->
			</section>
		</div>
		<div class="col-md-5 editContainer">
			<div class="editContainerHeading">
				<h6 class="pull-left mt-2" v-if="displaySectionValue === 'clientInfo'"></h6>
				<h6 class="pull-left mt-2" v-if="displaySectionValue === 'contentDetails'"></h6>
				<h6 class="pull-left mt-2" v-if="displaySectionValue === 'Policy'"></h6>
				<button class="btn btn-success btn-sm pull-right" title="Save Client" @click="addClientInformation"
					:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
					v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2))   &&  displaySectionValue === 'clientInfo'">Save</button>
				<button class="btn btn-success btn-sm pull-right" title="Save Client" @click="SaveClientContentDetails"
					:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
					v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) && displaySectionValue === 'contentDetails'">Save</button>
				<button class="btn btn-success btn-sm pull-right" title="Save Client" @click="SaveClientPolicyDetails"
					:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
					v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) && displaySectionValue === 'Policy' && showpolicybutton">Save</button>
				<!-- <button class="btn btn-success btn-sm pull-right" title="savemap" @click="addClientInformation" :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
				 v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2))  && savemap" >Save</button> -->
				<button class="btn btn-success btn-sm pull-right" title="Save Client" @click="Update_Acc_Commission_Config"
					:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
					v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) && displaySectionValue === 'paymentSetup'">Save</button>
			</div>
			<section v-if="displaySectionValue === 'clientInfo'">
				<div v-show="showClientInfo">

					<!-- <div class="editContainerHeading">

						<button class="btn btn-success btn-sm pull-right" title="Save Client" @click="addClientInformation" :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
						 v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">Save</button>
					</div> -->
					<div class="row">
						<div class=" pull-left noClear ml-3">
							<label style="float:left;     margin: 4px 12px 0 0; font-size: 12px; color: #868686;">Send Email</label>
							<label class="slideCheck">
								<input type="checkbox" v-model="saveclientdetails.basicData.sendemail" />
								<span>Send Email</span>
							</label>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Client Name</label>
								<input type="text" class="form-control" v-model="saveclientdetails.basicData.ClientName" id="clientname"
									name='clientname' v-validate="'required'"
									:class="{'input': true, 'is-danger': errors.has('clientname') }"
									:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
									v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
								<!-- <i v-show="errors.has('clientname')" class="fa fa-warning"></i>
								<span v-show="errors.has('clientname')" class="help is-danger">{{ errors.first('clientname') }}</span> -->
								<span v-show="errors.has('clientname')" class="invalid-feedback">
									<i v-show="errors.has('clientname')" class="fa fa-warning"></i>
									{{ errors.first('clientname') }}</span>
							</div>
						</div>

					</div>
					<div class="row">
						

						<div class="col-md-12">
								<div class="form-group">
								  <label>Address1</label>
								  <vue-google-autocomplete id="map" v-bind:value="saveclientdetails.basicData.Address1"  classname="form-control" placeholder="Search Address"
									v-on:placechanged="getAddressData"  @reset="resetAddress" :shortAddress="saveclientdetails.basicData.Address1"  :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
									v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
								  </vue-google-autocomplete>
								</div>
							  </div>

					</div>

					<div class="row">

						<!-- <div class="col-md-12">
							<div class="form-group searchCity">
								<label>City, State, Country</label>

								<div class="input-group searchCity">
									<input type="text" class="form-control" v-model="searchCity" name="city" placeholder="Search by City" :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
									 v-validate="'required'" v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
									<button class="input-group-btn">
										<span class="fa fa-search"></span>
									</button>
								</div>
								<span v-show="errors.has('city')" class="invalid-feedback">
									<i v-show="errors.has('city')" class="fa fa-warning"></i> {{ errors.first('city') }}</span>

								<div v-if="searchCity" v-model="selectedCityObj" :disabled="isDisabled" name="city" class="form-control searchResultsCities">

									<div class="searchLocations" v-for="city in cityList" @click="onChangeCity(city.CityId)" v-bind:value="city">
										<span class="fa fa-map-marker"></span>
										<span>{{city.CityName}},</span>
										<span class="">{{city.StateName}},</span>
										<span class="">{{city.CountryName}}</span>
									</div>
								</div>
							</div>
						</div> -->
						<div class="col-md-12">
								<div class="form-group">
									<label>Address2</label>
									<!-- <input type="text" class="form-control" placeholder="Address" v-model="saveclientdetails.basicData.Address1" @change="changeMethod('Address')"
									 id=" address" v-validate="'required'" name="Address" :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
									 v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) "> -->
									<textarea class="form-control" placeholder=" Enter Your Address" v-validate="'required'"
										v-model="saveclientdetails.basicData.Address2" @change="changeMethod('Address')" id=" address"
										name="Address"
										:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
										v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) "></textarea>
									<span v-show="errors.has('Address')" class="invalid-feedback">
										<i v-show="errors.has('Address')" class="fa fa-warning"></i> {{ errors.first('Address') }}</span>
	
								</div>
							</div>
						

						<div class="col-md-12">
							<!-- <div class="form-group searchCity"> -->
							<div class="form-group">
								<label>City </label>
								<input type="text" class="form-control" id="city" name="city" autocomplete="off"
									v-model="CityName" v-validate="'required'"
									placeholder="Enter City Name" data-vv-validate-on="none"
									:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
									v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
								<span v-show="errors.has('city')" class="invalid-feedback">
									<i v-show="errors.has('city')" class="fa fa-warning"></i> {{ errors.first('city') }}</span>
								<!-- <div class="input-group">
									<input type="text" class="form-control" id="city" name="city" autocomplete="off"
										v-model.trim="searchCity" v-validate="'required'" placeholder="Search by City"
										data-vv-validate-on="none"
										:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
										v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
									<button class="input-group-btn">
										<span class="fa fa-search"></span>
									</button>
									<span v-show="errors.has('city')" class="invalid-feedback">
										<i v-show="errors.has('city')" class="fa fa-warning"></i> {{ errors.first('city') }}</span>
								</div>
								<div v-if="searchCity && cityList.length > 0" v-model="selectedCityObj" name="city"
									class="form-control searchResultsCities">
									<div class="searchLocations" v-for="city in cityList" @click="onChangeCity(city.CityId)"
										v-bind:value="city">
										<span class="fa fa-map-marker"></span>
										<span>{{city.CityName}},</span>
										<span class="">{{city.StateName}},</span>
										<span class="">{{city.CountryName}}</span>
									</div>
								</div> -->
							</div>
							<!-- </div> -->
						</div>


					</div>


					<div class="row">
						<!-- <div class="col-md-12">
                          <div class="form-group">
                            <label>State</label>
                            <div class="form-group">
                              <input class="form-control" :disabled="!enableStateCountry" v-model="selectedStateAndCountry.StateName">
                            </div>
                          </div>
                        </div> -->

						<div class="col-md-12">
							<!-- <div class="form-group searchCity"> -->
							<div class="form-group">
								<label>State </label>
								<input type="text" class="form-control" id="state" name="state" autocomplete="off"
									v-model="saveclientdetails.basicData.StateName" v-validate="'required'"
									placeholder="Enter State Name" data-vv-validate-on="none"
									:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
									v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
								<!-- <button class="input-group-btn">
									<span class="fa fa-search"></span>
								</button> -->
								<span v-show="errors.has('state')" class="invalid-feedback">
									<i v-show="errors.has('state')" class="fa fa-warning"></i> {{ errors.first('state') }}</span>
								<!-- <div class="input-group">
									<input type="text" class="form-control" id="state" name="state" autocomplete="off"
										v-model.trim="searchState" v-validate="'required'" placeholder="Search by state"
										data-vv-validate-on="none"
										:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
										v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
									<button class="input-group-btn">
										<span class="fa fa-search"></span>
									</button>
									<span v-show="errors.has('state')" class="invalid-feedback">
										<i v-show="errors.has('state')" class="fa fa-warning"></i> {{ errors.first('state') }}</span>
								</div>
								<div v-if="searchState && stateList.length > 0" name="state" class="form-control searchResultsCities">
									<div class="searchLocations" v-for="state in stateList" @click="onChangeState(state)"
										v-bind:value="state">
										<span class="fa fa-map-marker"></span>
										<span>{{state.StateName}},</span>
										<span class="">{{state.CountryName}}</span>
									</div>
								</div> -->
							</div>
							<!-- </div> -->
						</div>


						<!-- <div class="col-md-12">
                          <div class="form-group">
                            <label>Country</label>
                            <div class="form-group">
                              <input class="form-control" :disabled="!enableStateCountry" v-model="selectedStateAndCountry.CountryName">
                            </div>
                          </div>
                        </div> -->


						<div class="col-md-12">
							<!-- <div class="form-group searchCity"> -->
							<div class="form-group">
								<label>Country </label>
								<input type="text" class="form-control" id="country" name="country" autocomplete="off"
									v-model="saveclientdetails.basicData.CountryName" v-validate="'required'"
									placeholder="Enter Country Name" data-vv-validate-on="none"
									:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
									v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
								<span v-show="errors.has('country')" class="invalid-feedback">
									<i v-show="errors.has('country')" class="fa fa-warning"></i> {{ errors.first('country') }}</span>
								<!-- <div class="input-group">
									<input type="text" class="form-control" id="country" name="country" autocomplete="off"
										v-model.trim="searchCountry" v-validate="'required'" placeholder="Search by country"
										data-vv-validate-on="none"
										:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
										v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
									<button class="input-group-btn">
										<span class="fa fa-search"></span>
									</button>
									<span v-show="errors.has('country')" class="invalid-feedback">
										<i v-show="errors.has('country')" class="fa fa-warning"></i> {{ errors.first('country') }}</span>
								</div>
								<div v-if="searchCountry && countryList.length > 0" name="country"
									class="form-control searchResultsCities">
									<div class="searchLocations" v-for="country in countryList" @click="onChangeCountry(country)"
										v-bind:value="country">
										<span class="fa fa-map-marker"></span>
										<span>{{country.CountryName}}</span>
									</div>
								</div> -->
							</div>
							<!-- </div> -->
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Zip Code</label>
								<input type="text" class="form-control" v-model="saveclientdetails.basicData.PostalCode" id="PostalCode"
									name='PostalCode' :class="{'input': true, 'is-danger': errors.has('ClientCode') }"
									:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
									v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Phone</label>
								<input type="text" class="form-control" placeholder="Phone" autocomplete="off"
									v-validate="'required|phone'" name="phoneNumber" v-model="saveclientdetails.basicData.PhoneNumber"
									:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
									v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
								<span v-show="errors.has('phoneNumber')" class="invalid-feedback">
									<i v-show="errors.has('phoneNumber')" class="fa fa-warning"></i>
									{{ errors.first('phoneNumber') }}</span>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>SMTP Service</label>
								<!-- <select v-model="saveclientdetails.basicData.CurrencyId" name="currency" @change="displayCurrencyName" class="form-control"
						 :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)" v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
							<option v-for="currency in currencyList" v-bind:value="currency.CurrencyId">{{currency.CurrencyName}}({{currency.CurrencyAbbr}})</option>
						</select> -->
								<select
									:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
									v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) "
									v-model="saveclientdetails.basicData.emailservice" class="form-control">
									<option v-for="service in smtpServices" v-bind:value="service.serviceName">{{service.serviceName}}
									</option>
								</select>

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Email</label>
								<!-- <input type="Email" class="form-control" placeholder="Email" v-model="saveclientdetails.basicData.Email" id="Email"  name='Email' v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Email') }"
								 :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)" v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
								 <i v-show="errors.has('Email')" class="fa fa-warning"></i>
								<span v-show="errors.has('Email')" class="help is-danger">{{ errors.first('Email') }}</span> -->

								<input type="email" class="form-control" autocomplete="off" v-model="saveclientdetails.basicData.Email"
									id="Email" name='Email' v-validate="'required|email'"
									:class="{'input': true, 'is-danger': errors.has('Email') }"
									:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
									v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
								<span v-show="errors.has('Email')" class="invalid-feedback">
									<i v-show="errors.has('Email')" class="fa fa-warning"></i> {{ errors.first('Email') }}</span>

							</div>
						</div>

					</div>


					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Password</label>
								<input
									:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
									v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) "
									v-model="saveclientdetails.basicData.emailpassword" type="password" class="form-control">
							</div>
						</div>

					</div>


					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Client Code</label>
								<!-- <input type="text" class="form-control" v-model="saveclientdetails.clientContent.ClientCode" id="clientcode" name='clientcode'
								 :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)" v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) "> -->

								<input type="text" class="form-control" v-model="saveclientdetails.clientContent.ClientCode"
									id="ClientCode" name='ClientCode' v-validate="'required'"
									:class="{'input': true, 'is-danger': errors.has('ClientCode') }"
									:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
									v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
								<span v-show="errors.has('ClientCode')" class="invalid-feedback">
									<i v-show="errors.has('ClientCode')" class="fa fa-warning"></i>
									{{ errors.first('ClientCode') }}</span>

							</div>
						</div>

					</div>
					
				</div>
				<div v-show="showMap">

					<!-- <div class="col-md-12">

					
						<div class="editContainerHeading">
							<label>Map</label>
							<button class="btn btn-success btn-sm pull-right" @click="addClientInformation" :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
							 v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">Save</button>
						</div>
					</div> -->

					<div class="col-md-12">

						<div class="map">
							<googlemap></googlemap>

						</div>
					</div>
					<!-- <div class="col-md-12">
						<label>Embed Code</label>

						<input type="text" class="form-control" placeholder="" :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
						 v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
					</div> -->
				</div>
			</section>

			<section v-else-if="displaySectionValue === 'contentDetails'">
				<!-- <div class="editContainerHeading">

					<button class="btn btn-success btn-sm pull-right" @click="SaveClientContentDetails" :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
					 v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 && fncIsClientSave.functionState === 2) ">Save</button>

				</div> -->
				<!-- <div class="editContainerHeading">

					<button class="btn btn-success btn-sm pull-right" title="Save Client" @click="SaveClientContentDetails" :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
					 v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">Save</button>
				</div> -->

				<div class="row">
					<div class="col-md-12">
						<div>
							<div class="form-group mb-0">
								<label class="mb-0"> Logo</label>
							</div>
							<div class="row">
								<div class="col-md-3 uploadThumbnailLogo">
									<img v-if="logo && (logo != null || logo != '')" :src="imageURLS(logo)" style="float:left" width=""
										height="" class="dummyImage">
									<img v-else style="float:left" width="" height="" class="dummyImage">
									<button
										:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
										v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) && logo && (logo != null || logo != '')"
										class="btn uploadThbImageRemove" @click="deletelogo(logo)">
										<i class="fas fa-trash-alt"></i>
									</button>

								</div>
								<label class="custom-file-upload">
									<div>
										<i class="fa fa-upload" aria-hidden="true"></i>
										<input type="file" id="logo"
											:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
											v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) "
											name="logo" accept="image/*" @change="processLogo($event, 1)">
									</div>
								</label>
							</div>

						</div>
					</div>

					<!-- <div class="col-md-12">
						<div class="input-group searchCity">
							<input type="text" placeholder="upload Logo" class="form-control" :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
							 v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
							<button style="background-color:#44a23e" class="input-group-btn" :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
							 v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
								<span class="fa fa-upload"></span>
							</button>
						</div>
					</div> -->
					<div class="col-md-12">
						<div>
							<div class="form-group mb-0">
								<label class="mb-0">Upload Images</label>
							</div>
							<div class="row">
								<div class="col-md-3 uploadThumbnailImage pic" v-for="(image,index) in imageArr">
									<!-- <img :src="image.ImageUrl" @click="show(index)" width="" height="90px" /> -->
									<img v-if="image.ImageId == -1" :src="image.ImageUrl+'/430x300'" @click="show(index)" alt="Images"
										width="" height="90px">
									<img v-else :src="imageURLS(image.ImageUrl)" @click="show(index)" alt="Images" width="" height="90px">
									<button
										:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
										v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) "
										class="btn uploadThbImageRemove" @click="removeImage(image,index,1)">
										<i class="fas fa-trash-alt"></i>
									</button>
									<div>
										<input
											:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
											v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) "
											type='file' id="imageUpload" @change="upDateimg($event)" accept=".png, .jpg, .jpeg" />
										<label for="imageUpload">
											<i class="fas fa-pencil" @click="getImageId(image.ImageId)"></i>
										</label>

									</div>
								</div>



							</div>
							<label class="custom-file-upload">
								<div>
									<i class="fa fa-upload" aria-hidden="true"></i>
									<input type="file" id="logo"
										:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
										v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) "
										name="logo" accept="image/*" @change="processLogo($event, 0)">
								</div>
							</label>

						</div>
					</div>

					<!-- <div class="col-md-12">
						<div class="input-group searchCity">
							<input type="text" placeholder="upload images" class="form-control" :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
							 v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
							<button style="background-color:#44a23e" class="input-group-btn" :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
							 v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
								<span class="fa fa-upload"></span>
							</button>
						</div>
					</div> -->
					<div class="col-md-12">
						<div class="form-group">
							<label>Website</label>
							<input type="text" class="form-control" v-model="saveclientdetails.clientContent.WebSiteURL"
								:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
								v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">

						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label> Default Currency</label>

							<select v-model="saveclientdetails.basicData.CurrencyId" name="currency" @change="displayCurrencyName"
								class="form-control"
								:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
								v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
								<option v-for="currency in currencyList" v-bind:value="currency.CurrencyId">
									{{currency.CurrencyName}}({{currency.CurrencyAbbr}})</option>
							</select>

						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label>Time Zone</label>

							<select v-model="saveclientdetails.basicData.TimeZone" name="timeZone" @change="displayDropDownContent"
								class="form-control"
								:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
								v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
								<option v-for="timezone in timeZoneList" v-bind:value="timezone.IANACode">{{timezone.TimeZoneDetails}}
								</option>
							</select>

						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label>Description</label>

							<textarea v-model="saveclientdetails.clientContent.Content" class="form-control" name="Description"
								@keyup="lessContent()" v-validate="'required'"
								:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
								v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) "></textarea>

						</div>
					</div>
					<div class="col-md-3 pt-0" style="margin-top: 44px;">
						<label style="float:left;margin: 4px 12px 0 0; font-size: 12px; color: #868686;">Can Expiry</label>
						<label class="slideCheck">
							<input type="checkbox" v-model="saveclientdetails.clientContent.CanExpire" true-value=1 false-value=0
								:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
								v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) " />
							<span>Close out</span>
						</label>
						<!-- <label style="margin: 4px 12px 0 12px; font-size: 12px; color: #868686;"> </label> -->
					</div>

					<div class="col-md-6 mt-4">
						<div class="form-group row">
							<label class="col" style="margin: 10px -30px 0 0;">Expiry Time</label>
							<input type="number" v-model="saveclientdetails.clientContent.ExpiryTime" class="form-control col-md-3"
								name="Description" v-validate="'required'"
								:disabled="(fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) || (saveclientdetails.clientContent.CanExpire == 0)"
								v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) "></input>
							<label class="col" style="margin: 10px 0 0 0;">Hrs</label>

						</div>
					</div>
					<div class="col-md-3"></div>

				</div>
			</section>


			<section v-if="displaySectionValue === 'Policy'">
				<!-- <div class=" editContainerHeading">
					<button class="btn btn-success btn-sm pull-right" title="Save Client" @click="SaveClientPolicyDetails" :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
					 v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">Save</button>
				</div> -->

				<div v-for="policy in policyList" class="col-md-12 boxShadow">
					<div id="dummy" class="">
						<!-- <button type="button" class="close" @click="removeDummy()">&times;</button> -->
						<div class="form-group">
							<label>Policy Name</label>
							<input type="text" class="form-control" v-model="policy.ContentTitle" @change="getPolicyName(policy)"
								:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
								v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
						</div>
						<div class="form-group">
							<label>Status</label>
							<select v-model="policy.StatusId" name="clientStatus" class="form-control" v-validate="'required'"
								@change="getStatusName(policy)"
								:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
								v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
								<option v-for="status in statusList" v-bind:value="status.StatusId">{{status.StatusName}}</option>
							</select>
						</div>
						<div class="form-group">
							<label>Description</label>
							<textarea class="form-control" v-model="policy.Content" @change="getPolicyDes(policy)" name="" id=""
								cols="40" rows="5"
								:disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
								v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
                                </textarea>
						</div>
					</div>
				</div>
				<!--<div class="row">
					 <div class="col-md-12">

						<button class="btn btn-primary btn-sm pull-right" @click="addToLoop(1)" :disabled="fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)"
						 v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">Add New policy</button>
					</div> -->
				<!-- </div> -->
			</section>

			<section v-if="displaySectionValue === 'paymentSetup'">
				<h6>Payment Setup</h6>
				<div class="col-md-8">
					<label class="slideCheck" style="color: #868686;">
						<input type="checkbox" v-model="saveclientdetails.basicData.IsLive" true-value=1 false-value=0 />
						<span>Close out</span>
					</label>
					<label style="margin: 4px 12px 0 12px; font-size: 12px; color: #868686;">Live Mode</label>
				</div>
				<!-- <div class="col-md-12">
						<label class="slideCheck" style="color: #868686;">
								<input type="checkbox" v-model="IsActive" @change="getAccountDetails($event)" true-value=1 false-value=0 />
								<span>Close out</span>
						</label>
						<label style="margin: 4px 12px 0 12px; font-size: 12px; color: #868686;">Only Active Accounts</label>
				</div> -->
				<div class="stripeAcount mt-4" v-for="(paymentAccount,index) in paymentAccountList">
					<div class="icon"><span :class="paymentAccount.StatusId != 1 ? 'disable' : ''"></span></div>
					<span class="title" v-if="paymentAccount.PaymentAccountName">{{paymentAccount.PaymentAccountName}} <span
							class="defaultStripe" v-if="paymentAccount.IsDefault">Default</span></span>
					<span class="title" v-else>AccountName <span class="defaultStripe"
							v-if="paymentAccount.IsDefault">Default</span></span>
					<span class="accInfo">Account ID : <span>{{paymentAccount.PaymentAccountId}}</span></span>

					<span class="accInfo" @click="showUsedPropertyList(paymentAccount)"><span style="cursor: pointer">Used by
							{{paymentAccount.Propertycount}} Properties and {{paymentAccount.Unitcount}}
							Units</span> </span>

					<div class="dropdown mainDD keep-open">
						<button title="Views" type="button" data-toggle="dropdown"
							class="btn btn-default dropdown-toggle  btn-sm btn-sm-icon" aria-expanded="false"><i
								class="fas fa-caret-down"></i></button>
						<ul class="dropdown-menu" :id="'accountEdit'+index" @click="">
							<li class="heading">Options</li>
							<li @click="makePaymentAccountDefault(paymentAccount,$event)"><label>Make default</label></li>
							<!-- <li v-for="status in accountStatusList" @click="removePaymentAccount(paymentAccount,status.statusId)"><label>{{status.statusName}}</label></li> -->
						</ul>
					</div>
					<!-- <span @click="showAccountEdit(index)"><i class="fa fa-edit"></i></span> -->
				</div>

				<div class="row mt-3">

					<div class="col-md-4">
						<div class="form-group">
							<label>Tempo Fee Per Transaction</label>
						</div>
					</div>
					<div class="col-md-8" v-if="clientID != 1">
						<label class="slideCheck" style="color: #868686;">
							<input type="checkbox" v-model="saveclientdetails.basicData.UseDefault" @change="editDefaultValue($event)"
								true-value=1 false-value=0 />
							<span>Close out</span>
						</label>
						<label style="margin: 4px 12px 0 12px; font-size: 12px; color: #868686;">Use Default</label>
					</div>
					<div class="col-md-4 pt-0">
						<div class="form-group">
							<input type="number" class="form-control" v-model="CommissionAmount"
								:disabled="(fncIsClientSave && (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) || editDefault"
								v-if="fncIsClientSave && (fncIsClientSave.isAssigned === 1 || (fncIsClientSave.isAssigned === -1 && fncIsClientSave.functionState === 2)) ">
						</div>
					</div>
					<div class="col-md-3 pt-0">
						<label style="float:left;margin: 4px 12px 0 0; font-size: 12px; color: #868686;">$</label>
						<label class="slideCheck" :class="commissionPercentColor">
							<input type="checkbox" v-model="commissionPercent" @change="changeInCommisssion" :disabled="editDefault"
								true-value=1 false-value=0 />
							<span>Close out</span>
						</label>
						<label style="margin: 4px 12px 0 12px; font-size: 12px; color: #868686;"> %</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" v-if="usedPropertyList.length > 0">
						<h6>Property List</h6>
						<span>Used by {{usedProperties}} properties</span>
						<ul class="payRout">
							<li v-if="usedPropertyList.length > 0" v-for="usedProperty in usedPropertyList">
								<div class="itemPic"><i aria-hidden="true" v-if="!usedProperty.ImageURL" class="fas fa-building"></i>
									<img v-if="usedProperty.ImageURL" :src="imageURLS(usedProperty.ImageURL)" width="" height=""></div>
								<div class="title">{{usedProperty.propertyNickName}}</div>
								<!-- <div>100% <i class="fa fa-arrow-right"></i>
									<span
										v-if="usedProperty.PaymentAccountName">{{usedProperty.PaymentAccountName}}</span>
									<span v-else>{{usedProperty.PaymentAccountId}}</span>
								</div> -->
							</li>
							<li v-else>No property list for this account</li>
							<!-- <li>
								<div class="itemPic"><i aria-hidden="true" class="fas fa-building"></i></div>
								<div class="title">All Other Properties</div>
								<div>100% <i class="fa fa-arrow-right"></i>
									<span>Default</span>
								</div>
							</li> -->
						</ul>
					</div>
					<div class="col-md-12" v-if="usedUnitList.length > 0">
						<h6>Unit List</h6>
						<span>Used by {{usedUnits}} units</span>
						<ul class="payRout">
							<li v-for="usedUnit in usedUnitList">
								<div class="itemPic"><i aria-hidden="true" v-if="!usedUnit.ImageURL" class="fas fa-building"></i> <img
										v-if="usedUnit.ImageURL" :src="imageURLS(usedUnit.ImageURL)" width="" height=""></div>
								<div v-if="usedUnitList.length > 0" class="title">{{usedUnit.UnitNickName}}</div>
								<div v-else>
									<span>No unit list for this account</span>
								</div>
								<!-- <div>100% <i class="fa fa-arrow-right"></i>
										<span
											v-if="usedProperty.PaymentAccountName">{{usedProperty.PaymentAccountName}}</span>
										<span v-else>{{usedProperty.PaymentAccountId}}</span>
									</div> -->
							</li>
							<!-- <li>
									<div class="itemPic"><i aria-hidden="true" class="fas fa-building"></i></div>
									<div class="title">All Other Properties</div>
									<div>100% <i class="fa fa-arrow-right"></i>
										<span>Default</span>
									</div>
								</li> -->
						</ul>
					</div>
				</div>
			</section>
			<vue-easy-lightbox v-if="imgs.length > 0" :visible="visible" :index="index" :imgs="imgs" @hide="handleHide">
			</vue-easy-lightbox>
		</div>
	</div>
</div>
</div>